[
    {mnesia, [
        {dir, "/tmp/mnesia"}
    ]},

    {sip_serv, [
        {abonents, [
            #{
                aor => "user1@localhost",
                password => "user1",
                domain => "localhost"
            },
            #{
                aor => "user2@localhost",
                password => "user2",
                domain => "localhost"
            },
            #{
                aor => "user3@localhost",
                password => "user3",
                domain => "localhost"
            }
        ]}
    ]}
].